---
interface Props {
  color?: string;
  class?: string;
}

const { color = "#ffffff", class: className = "" } = Astro.props;
---

<div class={`wireframe-globe-svg ${className}`} style={`color: ${color};`}>
  <object type="image/svg+xml" data="/ma3world-redesign/globe-animation.svg" aria-label="Spinning wireframe globe"></object>
</div>

<style>
  .wireframe-globe-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .wireframe-globe-svg object {
    width: 100%;
    height: 100%;
  }
</style>
